.board-container {
  width: 150px;
}

.board-row {
  max-height: 50px;
}

.box {
  padding: 2px;
  border: 1px solid #333;
  min-width: 50px;
  min-height: 50px;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  line-height: 44px; /* ugly hack to align vertically, fix later */
}
